@charset "UTF-8";

body {
    background-color: #085454;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #001542;
    text-align: center;
    text-decoration: underline;
    background-color: #FFB30D;
    border-radius: 3px;
}

h1#Titulo {
    background-color: #7A7A7A;
    padding: 25px;
    color: aliceblue;
    text-align: center;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #FFB30D;
    text-align: center;
}

p {
    text-align: justify;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.basico {
    background-color: #001542;
    padding: 10px;
    border-radius: 9px;
    width: 30%;
}

.intermediario {
    background-color: #001542;
    border-radius: 9px;
    width: 30%;
    padding: 10px;   
}

.avancado {
    background-color: #001542;
    border-radius: 9px;
    width: 30%;
    padding: 10px;
}